<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeTwo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body style="padding-top: 70px;">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WeTwo</a>
        </div>
        <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#newPostModal">发表
        </button>
    </div>
</nav>

<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">发表新的</h4>
            </div>
            <div class="modal-body">
                <form action="postArticle" method="post" id="articleForm">
                    <textarea class="form-control" name="article" rows="3" required></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="submit" form="articleForm" class="btn btn-primary">发表</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% for article in articles %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {{ article.user_id }}
                            <span class="pull-right">{{ article.post_time }}</span>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ article.article }}
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default pull-right" role="button" data-toggle="collapse"
                           href="#commentCollapse{{ loop.index }}" aria-expanded="false"
                           aria-controls="commentCollapse{{ loop.index }}">
                            评论
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="commentCollapse{{ loop.index }}">
                            {% set id_comment_form='formComment'+loop.index|string %}
                            <ul class="media-list">
                                {% for comment in article.comments %}
                                    <li class="media">
                                        <div class="media-left">
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">{{ comment.user_id }}</h4>
                                            <p>{{ comment.comment }}
                                                <button type="button" class="btn btn-default pull-right btnReplyComment"
                                                        data-commentId="{{ comment.comment_id }}"
                                                        data-userId="{{ comment.user_id }}"
                                                        data-target-form="{{ id_comment_form }}">回复
                                                </button>
                                            </p>
                                            {%- for child_comment in comment.children recursive -%}
                                                <div class="media">
                                                    <div class="media-left">
                                                    </div>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">{{ child_comment.user_id }}</h4>
                                                        <p>{{ child_comment.comment }}
                                                            <button type="button"
                                                                    class="btn btn-default pull-right btnReplyComment"
                                                                    data-commentId="{{ child_comment.comment_id }}"
                                                                    data-userId="{{ child_comment.user_id }}"
                                                                    data-target-form="{{ id_comment_form }}">
                                                                回复
                                                            </button>
                                                        </p>
                                                        {%- if child_comment.children -%}
                                                            {{ loop(child_comment.children) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {%- endfor -%}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <form id="{{ id_comment_form }}" class="formComment">
                                <div class="input-group">
                                    <span class="input-group-addon">回复文章</span>

                                    <input type="text" class="form-control" name="comment" required>
                                    <input type="hidden" name="articleId" value="{{ article.article_id }}">
                                    <input type="hidden" name="parentCommentId" value="0">

                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">发布</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ url_for('static',filename='jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='custom.js') }}"></script>
</body>
</html>